@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.App{
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 50px;
}

h1 {
  letter-spacing: 10px;
  color: #6F61C0;
}

form{
  margin: 20px 0;
}

form input,
form button {
  flex: 8;
  padding: 0 16px;
  border: 1px solid #B2A4FF;
  font-size: 14px;
}

form button{
  color: white;
  background: #6F61C0;
  cursor: pointer;
}

ul li{
  list-style: none;
  background: #b2a4ffd3;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li .active {
  opacity: 0.5;
  text-decoration: line-through;
}

ul li input,
.row input{
  margin: 5px;
  transform: translateY(1px);
}

ul li button,
.row button {
  padding: 5px 4px;
  border: none;
  background: none;
  cursor: pointer;
}

ul li button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.row #delete {
  height: 32px;
  padding: 5px 15px;
  border-radius: 8px;
  background: #ffbe69;
  color: maroon;
  font-size: 14px;
}

label {
  cursor: pointer;
}

h2{
  text-align: left;
  font-size: 18px;
}

.filter button{
  border: none;
  border-radius: 12px;
  outline: none;
  color: white;
  background: #9e9b9bce;
  padding: 5px 15px;
  margin-right: 1rem;
  margin-top: 1.2rem;
  margin-bottom: .5rem;
  font-size: 14px;
}

.filter button:hover{
  background: #FFB4B4;
}

.edit-todo {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .App {
    padding: 20px;
  }
}
